.input-form {
  display: flex;
  width: 83rem;
  margin-inline: auto;
  align-items: baseline;
}

.input-form input,
select {
  font-size: 1.2rem;
  width: 32rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 1.063rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px var(--grey-border);
  background-color: #fff;
  color: var(--warm-grey);
}

select {
  padding: 0 1.063rem 0 1.063rem;
}

option {
  font-size: 1.2rem;
  padding: 0.813rem 1.063rem 0.813rem 1.063rem;
  margin: 1.188rem 2.125rem 0 0;
}

.input-form button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  color: #fff;
  cursor: pointer;
  border: none;
}

.input-form > button:hover {
  font-size: 1.1rem;
  border: 1px solid #0290ff;
}

@media (max-width: 360px) {
  .input-form {
    flex-direction: column;
  }

  .input-form button {
    margin-top: 5px;
  }

  .input-form input {
    font-size: 1.1rem;
    margin-right: 20px;
    margin-top: 5px;
    padding: 5px;
  }
}
