.categories {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categories button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
}

.categories button:hover {
  font-size: 1.2rem;
  border: 1px solid #0290ff;
}
