.NavBar {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 50px;
  margin-inline: auto;
}

.link {
  margin-inline: 10px;
  color: #c7c7c7;
  text-decoration: none;
}

.link:hover {
  color: #0290ff;
}

.active {
  color: #121212;
}

.left {
  display: flex;
  align-items: center;
  flex: 50%;
}

.right {
  display: flex;
  flex: 50%;
  justify-content: right;
  align-items: center;
}

.left h1 {
  margin-right: 20px;
  color: #0290ff;
}

@media (max-width: 360px) {
  .left {
    flex: 1;
    flex-direction: column;
  }
}
