.book {
  border: 1px darkgray solid;
  border-radius: 8px;
  width: 83rem;
  background-color: white;
  height: 10.625rem;
  padding: 2rem 1.688rem;
  display: flex;
}

.book .right {
  display: flex;
  justify-content: center;
  flex: 3;
}

hr {
  height: 5rem;
}

.book .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
}

.book ul li {
  list-style: none;
  display: inline;
  margin: 0;
  border-right: 2px solid var(--grey-border);
  padding-inline: 0.938rem;
}

ul li:first-child {
  padding-left: 0;
}

.book ul li button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 1.313rem 0 0.125rem 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-blue);
}

.book button:hover {
  color: black;
}

.book-genre {
  color: var(--black);
  opacity: 0.5;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.book-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  margin: 0.188rem 20.188rem 0 0;
  color: var(--black-two);
}

.book-author {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0.25rem 0 0;
  color: var(--cool-blue);
}

.progress {
  display: flex;
  align-items: center;
  position: relative;
}

.percent {
  margin: 0.063rem 7.063rem 0 0.688rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.current-chapter {
  margin: 0.063rem 5.375rem 0 3.688rem;
  opacity: 0.5;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.chapter {
  margin: 0.438rem 0 0.25rem 3.688rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.completed {
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.blue-button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 0.75rem 1.75rem 0.563rem 3.688rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  color: #fff;
  cursor: pointer;
  border: none;
}

.current-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.circle-wrap {
  margin: 150px auto;
  width: 100px;
  height: 100px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.mask .fill {
  clip: rect(0, 50px, 100px, 0);
  background-color: var(--azure);
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 2s;
  transform: rotate(135deg);
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 100px, 100px, 50px);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.circle-wrap .inside-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--white);
  line-height: 120px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  color: #1e51dc;
  position: absolute;

  /* z-index: 100; */
  font-weight: 500;
  font-size: 2em;
}
